@model IEnumerable<TccNovoGrupo.Models.Servicos>

@{
    ViewBag.Title = "Veja os serviços cadastrados no seu salão";
}

<title>@ViewBag.Title</title>
<link rel="shortcut icon" href="~/Imagens/icon.png" />
<meta charset="UTF-8">
<link href="~/Content/bootstrap.min.css" rel="stylesheet" />
<link href="~/CSS/estiloGeral.css" rel="stylesheet" />
<link href="~/CSS/MenuHamburguer.css" rel="stylesheet" />
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
<br /><br />


<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>@ViewBag.Title</title>
<link href="~/CSS/estiloGeral.css" rel="stylesheet" />
<link rel="shortcut icon" href="~/Imagens/icon.png" />
<link href="~/CSS/MenuHamburguer.css" rel="stylesheet" />
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>


<meta charset="UTF-8">
<link href="~/Content/font-awesome.min.css" rel="stylesheet" />
@*<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">*@

<link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700i" rel="stylesheet">


<style>
    hr {
        border: 1px solid #fff;
        height: 2px;
        background-color: #fff;
    }
</style>

<br />
<center>
    <h2 style="color: #fff; text-decoration: underline;">Veja os serviços cadastrados no seu salão:</h2>
    <hr />
    <div class="container mt-3">

        <input class="form-control" id="myInput" type="text" placeholder="Pesquisar Serviços">
        <br>
        <table class="table container">
            <thead>
                <tr style="background-color: #a29bfe; color: #fff;">
                    <th>Código:</th>
                    <th>Nome:</th>
                    <th>CPF:</th>

                </tr>
            </thead>
            <tbody id="myTable">
                @foreach (var item in Model)
                {
                    <tr style="background-color: #a29bfe; color: #fff;">
                        <td>
                            <center>
                                @Html.DisplayFor(modelItem => item.ServicoId)
                            </center>
                        </td>
                        <td>
                            <center>
                                @Html.DisplayFor(modelItem => item.Servico)
                            </center>
                        </td>

                        <td>
                            <center>
                                @Html.DisplayFor(modelItem => item.Preco)
                            </center>
                        </td>

                    </tr>
                }
            </tbody>
        </table>


    </div>

    <script>
        $(document).ready(function () {
            $("#myInput").on("keyup", function () {
                var value = $(this).val().toLowerCase();
                $("#myTable tr").filter(function () {
                    $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });
        });
    </script>
    <hr />
</center>

<style>
    a {
        color: #FFF;
    }

        a:hover {
            color: #fff;
            text-decoration: none;
        }

    #bubble {
        margin-top: -71px;
    }
</style>
